<div class="row">
  <div class="col-3">
    <h2>Score de la partie</h2>

    <div *ngFor="let player of connectedPlayers">
      {{player.name + ': ' + player.score}}
    </div>
  </div>

  <div class="offset-1 col-8">
    <h2>Résultat du tour</h2>

    <div class="my-card" *ngFor="let player of connectedPlayers;">
      {{player.name + ': ' + getLoosingCards(player).resultStr + ' => ' + getLoosingCards(player).result}}
    </div>
  </div>

  <div class="offset-4 col-8">
    <button type="button" class="btn btn-outline-light" (click)="nextTurn()" *ngIf="mode === 'en-cours'">Suite</button>
    <button type="button" class="btn btn-outline-light" (click)="restart()" *ngIf="mode === 'game-over'">Recommencer
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-chat [currentPlayerName]="currentPlayer.name"></app-chat>
  </div>
</div>
