<div class="row mb-3">
  <div class="offset-3 col-9 mb-2">
    <h2>Score de la partie</h2>
  </div>

  <div class="offset-3 col-9 mb-3">
    <div *ngFor="let player of connectedPlayers; let id = index">
      <h2>n°{{id}}: {{player?.name + ' avec ' + player?.globalScore}}</h2>
    </div>
  </div>

  <div class="offset-4 col-8">
    <button type="button" class="btn btn-outline-light" (click)="restart()">
      Recommencer
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-chat [currentPlayerName]="currentPlayer?.name"></app-chat>
  </div>
</div>
