<div class="row">
  <!--Le pli en cours-->
  <div class="col-12" *ngIf="!showRoundLooserName && !scoresState">
    <h2>Pli n°{{nbRound}} - à {{nextPlayerName === currentPlayer?.name ? 'toi' : nextPlayerName}} de jouer</h2>

    <div *ngIf="cardFold?.length > 0">
      <div class="my-card" *ngFor="let playerAndCard of cardFold">
        {{playerAndCard.player.name + ' a joué un : ' + playerAndCard?.card?.number + ' de ' +
        playerAndCard?.card?.family?.label}}
      </div>
    </div>
  </div>

  <div class="col-12" *ngIf="showRoundLooserName && !scoresState">
    <h2>Ce pli est pour : {{roundLooserName}}</h2>
  </div>

  <div class="col-12" *ngIf="scoresState">
    <h2>Points de ce tour :</h2>

    <div *ngFor="let player of connectedPlayers">
      {{player.name + ' : ' + player.roundScore}}
    </div>

    <button type="button" class="btn btn-primary" (click)="readyForNextTour()" *ngIf="!isReady">
      Passer au tour suivant
    </button>

    <div>On attend encore : <span *ngFor="let player of waitedPlayersForNextRound">{{player.name + ', '}}</span></div>
  </div>
</div>

<!--Le deck du joueur-->
<div class="row" *ngIf="!scoresState">
  <div class="col-12">
    <h2>Mes Cartes <span *ngIf="family40">- le 7 qui vaut 40 points: le 7 de {{family40?.label}}</span></h2>
    <div class="deck">
      <div *ngFor="let card of currentPlayer.deck" class="card-place" [hidden]="card.played">
        <button type="button" class="card-button"
                [ngClass]="{'not-clickable': !card.isPlayable, 'selected': card.toGive, 'newOne': card.newOne}"
                [ngStyle]="{'background-image': 'url(assets/img/' + card.number + card.family.label + '.png)'}"
                (click)="clickCard(card)">
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="isTimeToGiveCard && !scoresState">
  <button type="button" class="btn btn-primary"
          [disabled]="getCardToGive().length < 3"
          (click)="giveCards()">
    Donner ces cartes
  </button>
</div>

<div class="row">
  <div class="col-12">
    <app-chat [currentPlayerName]="currentPlayer.name"></app-chat>
  </div>
</div>
