.deck-card {
  cursor: pointer;
  margin-top: 40px;
}

.selected {
  position: relative;
  top: -35px;
  border: 1px solid #e3c001;
}

.not-clickable {
  cursor: not-allowed;
  opacity: 0.6;
}

.card-place {
  width: 50px;
  height: 10rem;
  display: inline-flex;
  position: relative;
}

.card-button {
  width: 100%;
  position: absolute;
  bottom: 0;
  border: 0;
  padding: 0;
  background-color: dimgray;
  border-radius: 12px;
}

//https://www.w3schools.com/css/css3_animations.asp
@keyframes blinking-title {
  0%   {color: transparent;}
  100%  {color: white;}
}
.turn-to-play {
  color: transparent;

  animation-name: blinking-title;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

//https://www.w3schools.com/css/css3_animations.asp
@keyframes blinking-background {
  0%   {background-color: transparent; color: white;}
  100%  {background-color: white; color: dimgray;}
}
.you-have-to-play {
  background-color: transparent;
  color: white;

  animation-name: blinking-title;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

.has-to-play {
  background-color: white;
  color: dimgray;
}

.cardsFold {
  height: 12rem;
  margin-top: 2rem;
  position: relative;
  padding-left: 28%;
}

.cardFolded {
  height: 8rem;
  position: absolute;
}

.mine {
  border: 1px solid yellow;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.absolute-bottom-left {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.playing-board-size {
  min-height: 290px;
}

.forty-seven-card {
  border: 2px solid red;
}

.game-board {
  background: radial-gradient(green 0, black 150%);
}

.top-player-card {
  position: absolute;
}

.current-player-card {
  position: absolute;
  bottom: .5rem;
}

.vertically-centered {
  display: grid;
  align-items: center;
  flex-wrap: wrap;
}
