.not-clickable {
  cursor: not-allowed;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}

.deck {
  position: relative;
  height: 10rem;
}

.card-place {
  width: 200px;
  height: 100%;
  display: inline-flex;
  position: absolute;
}

.card-button {
  height: 100%;
  width: 100%;
  bottom: 0;
  border: 0;
  padding: 0;
  background-color: dimgray;
}

.selected {
  bottom: 20%;
}

.newOne {
  bottom: 20%;
  opacity: 1;
}

.has-to-play {
  background-color: white;
  color: dimgray;
}

.cardsFold {
  height: 12rem;
  margin-top: 2rem;
  position: relative;
}

.cardFolded {
  height: 8rem;
  position: absolute;
}

